@font-face {
    font-family: 'MiFuentePersonal';
    src: url('fonts/CascadiaCode-VariableFont_wght.ttf');
  }

.span-overlay {
    opacity: 0.95;
    width: 70%;
    text-align: center;
    bottom: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'MiFuentePersonal';
}

.img-ajustada {
  height: 300px; /* o la altura que quieras */
  object-fit: cover; /* que la imagen se recorte bien */
  object-position: center 90%; /* mueve el recorte hacia abajo */
}

.style-card-body{
  text-align: center; 
  background-color: #000000
}

.style-card-title{
  text-align: center;
  font-family: 'MiFuentePersonal';
  font-size: 1.5rem;
  font-weight: bold;
}

.style-card-text{
  
  text-align: center;
}