
@import url('nav.css');

@import url('formas_pagos.css');

@import url('home.css');

@import url('contact-info.css');

@import url('footer.css');

@font-face {
    font-family: 'MiFuentePersonal';
    src: url('fonts/CascadiaCode-VariableFont_wght.ttf');
  }

.style-titulo{
    text-align: center;    
    font-size: 3rem; 
    font-weight: bold; 
    color: white; 
    margin-bottom: 0;
}

.style-div-titulo{
    background: linear-gradient(135deg, #222, #555); 
    padding: 2rem;
}

body {
    background-color: rgba(255, 255, 255, 0.473);
    font-family: 'MiFuentePersonal';    /*color de fondo del body*/
    
}

/* color y alineación de la etiqueta h1*/
h1 {
    color: black;
    font-weight: bold;
    /* negrito o fuerte*/
    text-align: center;
    /*alineación*/   
    font-family: 'MiFuentePersonal'; 
}

.style-div {
    font-size: 20px;
    /*tamaño de la fuente*/
    font-family: Arial;
    font-weight: normal;
    text-align: justify;
}

.highlight-item {
    font-size: 18px;
    /* Tamaño de fuente más grande */
    font-weight: bold;
    /* Negrita */
}

.carousel-inner img {
    height: 700px;
    /* Ajusta el alto deseado */
    object-fit: cover;
    /* Recorta la imagen para que se ajuste al contenedor */
    width: 100%;
    /* Asegura que ocupe todo el ancho */
    object-position: top;
    /* Alinea la imagen al principio del contenedor */
}

  

  .list-unstyled.d-flex.justify-content-start {
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
}

.card-img {
    height: 450px; /* Altura fija para todas */
    width: 100%;
    object-fit: cover; /* Recorta la imagen manteniendo proporción */

}

            
.float{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.float:hover{
    transform: translate(0px,-15px);
    -webkit-transform: translate(0px,-15px);
    -moz-transform:translate(0px,-15px);
}

.colum_responsive{
    display: grid;
    grid-template-columns:
        repeat(
            auto-fit,
            minmax(min(300px, 100%), 1fr)
        );  
}

@media (min-width: 1000px) {
    .colum_responsive {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}


@media(max-width: 700px){
  .img_logo {
    width: 100%;
    height: flex;
    padding-bottom: 0px;
  }
}

.borde-card {
    border: none;
}

.btn-black {
    background-color: black;
    color: white;
    border: none;
}

/* Uso hover para hacer el efecto de click  */
.btn-black:hover {
    background-color: #333; 
    color: white;
}