p{ font-family: verdana;/*tipo de letras*/    
    color: red; /*color de la fuente*/
    font-size: 24px;/*tamaño de la fuente*/    
    }
    body {
    background-color: lightblue; /*color de fondo del body*/
    }
    /* color y alineación de la etiqueta h1*/
    h1 { color: white;
    font-weight: bold;/* negrito o fuerte*/
    text-align: center;/*alineación*/
    }
    .center-bold-italic {
    text-align: center;/*alineación*/
    font-style: italic; /*estilo */
    font-weight: bold; /* negrito o fuerte*/  
    }
    .style-div {
        color: blue; /*color de la fuente*/
        font-size: 20px; /*tamaño de la fuente*/
        font-family: Arial;
        font-weight: normal;
        text-align: justify;
    }