.conteiner-text{
  max-width: 50%;
}

@media (max-width: 900px){
  .conteiner-text{
    max-width: 100%;
    min-width: 100px;
  }
}

.img_logo_qs {
  width: 650px;
  height: 125px;
}

@media(max-width: 1050px){
.img_logo_qs {
  width: 100%;
  height: flex;
  padding-bottom: 0px;
}
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
  backdrop-filter: blur(10px); /* Difuminado (efecto clave) */
  -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil */
}

