<!doctype html>
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Clothing</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" >    
      <link href="assets/css/mystyle.css" rel="stylesheet" >        
  </head>  
  <body>
    <!--Barra de navegacion-->
  <section class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <!--Logo en la barra-->
        <a class="navbar-brand" href="#">
          <img src="./assets/img/logo1.jpg" alt="404 Clothing" width="70" height="70">
        </a>
        <!--<a class="navbar-brand" href="#">404 Clothing</a>-->
        <!--Boton para moviles-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--Boton Categoria-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
              </a>
              <!--Contenido del menu desplegable-->
              <ul class="dropdown-menu">
                <li class= "dropdown-columns">
                  <ul class="column">
                    <li><a class="dropdown-item highlight-item" href="#">Parte de Arriba</a></li>                  
                    <li><a class="dropdown-item" href="#">Remera</a></li>
                    <li><a class="dropdown-item" href="#">Musculosa</a></li>
                    <li><a class="dropdown-item" href="#">Camisa</a></li>                 
                  </ul>                
                  <ul class="column">
                    <li><a class="dropdown-item highlight-item" href="#">Parte de Abajo</a></li>                  
                    <li><a class="dropdown-item" href="#">Pantalon</a></li>
                    <li><a class="dropdown-item" href="#">Bermuda</a></li>
                    <li><a class="dropdown-item" href="#">Zapatilla</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <!--Boton Coleeccion del momento-->
            <li class="nav-item">
              <a class="nav-link" href="#">Colección </a>
            </li>
            <!--Boton Outlet-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Outlet
              </a>
              <!--Contenido del menu desplegable-->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>            
          </ul>
          <!--Buscador-->
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </section>
    <h1>404 Clothing</h1>
    <script src="assets/js/bootstrap.bundle.min.js" ></script>    
    <p class="center-bold-italic">Local de ropa urbana</p>
    <div class="style-div">
      <h2> Ejemplo de div y span </h2>
      <p>
       Esto es un párrafo dentro de un div,
      <span style="color: red;"> y esto un span dentro de un
      párrafo.</span>
      </p>
      </div>
  </body>    
</html>